<html>
    <head>
            <title>Giun's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Giun's blog</a></h1>
        </div>

        <div>
            {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
            {% endfor %}
            <!-- <p>published: 07.11.2019, 16:01</p>
            <h2><a href="">My first post</a></h2>
            <p>Heute habe ich erste Seite gemacht.</p> -->
        </div>

        <div>
            <p>published: 07.11.2019, 16:04</p>
            <h2><a href="">My second post</a></h2>
            <p>Django ist nicht schwer zu eine Webseite machen...</p>
        </div>
    </body>
</html>